.DS*
.autotest
.generators
.rakeTasks
log/*.log
tmp/**/*
doc/api
doc/app
nbproject
nbproject/*
public/schedules/*
public/javascripts/global.js
public/stylesheets/global.css
public/system
public/.tmp*
.tmp*~
.idea
.loadpath
.project
.rvmrc
mkmf.log
.bundle
*.sublime-workspace
*.sublime-project
