<script id="my-schedule-page-template" type="text/x-handlebars-template">
	<ul data-role="listview"></ul>
</script>
<script id="new-appointment-page-template" type="text/x-handlebars-template">
	<div data-role="header">
		<h1></h1>
	</div>
	<div data-role="content">
		{{contents}}
	</div>
</script>
<script id="meeting-page-template" type="text/x-handlebars-template">
	<h3>{{ description }}</h3>
	<div data-role="fieldcontain">
		<label for="date_time">Time</label>
		<input type="text" name="date_time" readonly="readonly" value="{{meeting_date this}} at {{meeting_time this}}"  />	
	</div>
	<div data-role="fieldcontain">
		<label for="duration">Duration</label>
		<input type="text" name="duration" readonly="readonly" value="{{meeting_duration this}}"  />	
	</div>
	<fieldset>
		<legend>Roster</legend>
		<ul class="rosters">
			{{#rosters}}<li class="roster">{{member.name}}&nbsp;({{member.id}})</li>{{/rosters}}
			{{^rosters}}<li class="empty">No one is currently rostered.</li>{{/rosters}}
		</ul>
	</fieldset>
	<div class="actions" data-role="controlgroup"></div>
	<div data-role="collapsible" data-state="collapsed">
		<h3>Debug</h3>
		<div data-role="fieldcontain">
			<label for="reservation_id">Reservation ID</label>
			<input type="text" name="reservation_id" readonly="readonly" value="{{reservation_id}}"  />	
		</div>
		<div data-role="fieldcontain">
			<label for="status">Status</label>
			<input type="text" name="status" readonly="readonly" value="{{status}}"  />	
		</div>
		<div data-role="fieldcontain">
			<label for="reservation_type">Type</label>
			<input type="text" name="reservation_type" readonly="readonly" value="{{reservation_type}}"  />	
		</div>
		<div data-role="fieldcontain">
			<label for="id">Key</label>
			<input type="text" name="id" readonly="readonly" value="{{id}}"  />	
		</div>
    </div>
</script>
<script id="list-divider-item-template" type="text/x-handlebars-template">
	<li data-role="list-divider">{{text}}</li>
</script>
<script id="meeting" type="text/x-handlebars-template">
  <li class="meeting {{status}}"><a href="#">{{meeting_time this}} - {{description}} {{#rosters}} with {{member.name}}{{/rosters}}</a></li>
</script>
<script id="client-list-item-template" type="text/x-handlebars-template">
  <li class="client"><a href="#">{{name}}&nbsp;({{member_id}})</a></li>
</script>
<script id="date-select-widget-template" type="text/x-handlebars-template">
<label for="{{name}}">{{text}}</label>
<input name="{{name}}" type="date" data-role="datebox" data-options="{ 'mode' : 'calbox', 'calTodayButton' : true }" ></input>
</script>
<script id="checkbox-widget-template" type="text/x-handlebars-template">
<input type="checkbox" name="{{name}}" id="{{name}}" />
<label for="{{name}}">{{text}}</label>
</script>
<script id="client-detail-history-item-template" type="text/x-handlebars-template">
<div>{{meeting_date this}} {{meeting_time this}} -- {{description}} ({{meeting_duration this}})</div>
</script>
<script id="client-detail-template" type="text/x-handlebars-template">
	<ul data-role="listview">
		<li>
			<div data-role="fieldcontain">
				<label for="join_date">Member Since:</label>
				<span>{{formatJoinDate this}}</span>
			</div>
			<div data-role="fieldcontain">
				<label for="email">Email:</label>
				<span>{{email}}</span>
			</div>
			<div data-role="fieldcontain">
				<label for="phone">Phone:</label>
				<span>{{phone}}</span>	
			</div>
		</li>
		<li>
			<label>Actions</label>
			<div>
				<a data-role="button" data-theme="b" href="tel:{{phone}}">Schedule Appointment</a>
				<a data-role="button" href="mailto:{{email}}">Send Email</a>
				<a data-role="button" href="tel:{{phone}}">Call</a>
			</div>
		</li>
		<li>
			<label>Interactions</label>
			<br/><br/>
			<div class="rosters"></div>
		</li>
	</ul>
</script>
<script type="text/javascript">
var mySchedulePageTemplate = Handlebars.compile($("#my-schedule-page-template").html());
var meetingPageTemplate = Handlebars.compile($("#meeting-page-template").html());
var meetingListTemplate = Handlebars.compile($("#meeting").html());
var clientListItemTemplate = Handlebars.compile($("#client-list-item-template").html());
var clientDetailTemplate = Handlebars.compile($("#client-detail-template").html());
var clientDetailHistoryItemTemplate = Handlebars.compile($("#client-detail-history-item-template").html());
var listDividerItemTemplate = Handlebars.compile($("#list-divider-item-template").html());
var dateSelectWidgetTemplate = Handlebars.compile($("#date-select-widget-template").html());
var checkboxWidgetTemplate = Handlebars.compile($("#checkbox-widget-template").html());

Handlebars.registerHelper('meeting_time', formatMeetingTime);
Handlebars.registerHelper('meeting_date', formatMeetingDate);
Handlebars.registerHelper('meeting_duration', formatMeetingDuration);
Handlebars.registerHelper('formatJoinDate', function(member) {
	return (new Date(member.join_date * 1000)).toString('MMMM yyyy');
});

function renderDateSelector(name, text) {
	return dateSelectWidgetTemplate({ name : name, text : text });
}
function renderCheckbox(name, text) {
	return checkboxWidgetTemplate({ name : name, text : text });
}
</script>