<script id="my-schedule-page-template" type="text/x-handlebars-template">
	<ul data-role="listview"></ul>
</script>
<script id="new-appointment-page-template" type="text/x-handlebars-template">
	<div data-role="header">
		<h1></h1>
	</div>
	<div data-role="content">
		{{contents}}
	</div>
</script>
<script id="meeting-page-template" type="text/x-handlebars-template">
	<ul data-role="listview">
		<li data-role="fieldcontain">
			<h2>{{ description }}</h2>
		</li>
		<li data-role="fieldcontain">
			<label for="date_time">Time:</label>
			<span>{{meeting_date this}} at {{meeting_time this}}</span>
		</li>
		<li data-role="fieldcontain">
			<label for="duration">Duration:</label>
			<span>{{meeting_duration this}}</span>
		</li>
		<li data-role="fieldcontain">
			<label for="rosters">Rosters</label>
			<div class="rosters-container"></div>
		</li>
		<li data-role="fieldcontain">
			<label for="actions">Actions</label>
			<div data-role="controlgroup" class="actions"></div>
		</li>
	</ul>
</script>
<script id="list-divider-item-template" type="text/x-handlebars-template">
	<li data-role="list-divider">{{text}}</li>
</script>
<script id="meeting" type="text/x-handlebars-template">
  <li class="meeting {{status}}"><a href="#">{{meeting_time this}} - {{description}} {{#rosters}} with {{member.name}}{{/rosters}}</a></li>
</script>
<script id="client-list-item-template" type="text/x-handlebars-template">
  <li class="client"><a href="#">{{name}}&nbsp;({{member_id}})</a></li>
</script>
<script id="date-select-widget-template" type="text/x-handlebars-template">
<div data-role="fieldcontain" class="ui-hide-label">
	<label for="{{name}}">{{text}}</label>
	<input type="text" name="{{name}}" id="{{name}}" class="mobiscroll" ></input>
</div>
</script>
<script id="checkbox-widget-template" type="text/x-handlebars-template">
	<input type="checkbox" name="{{name}}" id="{{name}}" />
	<label for="{{name}}">{{text}}</label>
</script>
<script id="client-detail-template" type="text/x-handlebars-template">
	<ul data-role="listview">
		<li data-role="fieldcontain">
			<label for="join_date">Member Since:</label>
			<span>{{formatJoinDate this}}</span>
		</li>
		<li data-role="fieldcontain">
			<label for="email">Email:</label>
			<span>{{email}}</span>
		</li>
		<li data-role="fieldcontain">
				<label for="phone">Phone:</label>
				<span>{{phone}}</span>	
			</div>
		</li>
		<li data-role="fieldcontain">
			<label>Actions</label>
			<div data-role="controlgroup" class="actions">
				<a data-role="button" data-theme="b" class="new-appointment" href="#">Schedule Appointment</a>
			</div>
		</li>
		<li data-role="fieldcontain">
			<label>Interactions</label>
			<div class="rosters"></div>
		</li>
		<li data-role="fieldcontain">
			<label>Packages</label>
			<div class="packages"></div>
		</li>
	</ul>
</script>
<script type="text/javascript">
var mySchedulePageTemplate = Handlebars.compile($("#my-schedule-page-template").html());
var meetingPageTemplate = Handlebars.compile($("#meeting-page-template").html());
var meetingListTemplate = Handlebars.compile($("#meeting").html());
var clientListItemTemplate = Handlebars.compile($("#client-list-item-template").html());
var clientDetailTemplate = Handlebars.compile($("#client-detail-template").html());
var clientDetailHistoryItemTemplate = Handlebars.compile($("#client-detail-history-item-template").html());
var listDividerItemTemplate = Handlebars.compile($("#list-divider-item-template").html());
var dateSelectWidgetTemplate = Handlebars.compile($("#date-select-widget-template").html());
var checkboxWidgetTemplate = Handlebars.compile($("#checkbox-widget-template").html());

Handlebars.registerHelper('meeting_time', formatMeetingTime);
Handlebars.registerHelper('meeting_date', formatMeetingDate);
Handlebars.registerHelper('meeting_duration', formatMeetingDuration);
Handlebars.registerHelper('formatJoinDate', function(member) {
	return (new Date(member.join_date * 1000)).toString('MMMM yyyy');
});

function renderDateField(name, text) {
	return dateSelectWidgetTemplate({ name : name, text : text });
}
function renderCheckbox(name, text) {
	return checkboxWidgetTemplate({ name : name, text : text });
}
</script>