<!DOCTYPE html> 
<html> 
	<head> 
		<title>My Book</title> 
		<%= partial(:_head) %>
	</head> 
<body> 
	<div data-role="page" data-add-back-btn="true">
		<div data-role="header">
			<h1>My Book</h1>
		</div>
		<div data-role="content">
			Below are a list of the members you have worked with.
		</div>
	</div>
</body>
</html>