<!DOCTYPE html> 
<html> 
	<head> 
		<title>Life Time Fitness Employee Access</title> 
		<%= partial(:_head) %>
	</head>
</head> 
<body> 

	<div data-role="page" data-add-back-btn="true" id="home">
		<div data-role="header">
			<h1>Employee Access</h1>
		</div>
		<div data-role="content">	
			Loading...	
		</div>
		<div data-role="footer">
			<h4 class="username"></h4>
		</div>
	</div>

	<div data-role="page" id="view-my-schedule" data-add-back-btn="true">
		<div data-role="header">
			<h1>My Schedule</h1>
			<a class="new-appointment ui-btn-right" data-icon="plus">New Appointment</a>
		</div>
		<div data-role="content">	
		</div>
		<div data-role="footer">
			<h4 class="username"></h4>
		</div>
	</div>

	<div data-role="page" id="meeting-details" data-add-back-btn="true">
		<div data-role="header">
			<h1></h1>
		</div>
		<div data-role="content">	
			Meeting details.
		</div>
	</div>

	<div id="my-book-page" data-role="page" data-add-back-btn="true">
		<div data-role="header">
			<h1>My Book</h1>
		</div>
		<div data-role="content">
			Loading...
		</div>
	</div>

	<div id="client-details" data-role="page" data-add-back-btn="true">
		<div data-role="header">
			<h1></h1>
		</div>
		<div data-role="content">	
		</div>
	</div>

	<div id="new-appointment" data-role="page" data-title="New Appointment">
		<div data-role="header">
			<h1>New Appointment</h1>
			<a href="#home" data-iconpos="notext" data-icon="home" title="Home" data-theme="a"></a>
		</div>
		<div data-role="content">	
		</div>
	</div>

</body>
<%= partial(:_templates) %>
<script type="text/javascript">

$(document).bind("onAuthenticated", function(e, employee){
	$('h4.username').text('Logged-In As: ' + employee.name.full );
	$('#home .ui-header').append('<a class="ui-btn-right" href="<%= to('/logout') %>">Logout</a>')

	//Create the home page...
	var container = $('#home .ui-content').empty();
	var list = $('<ul data-role="listview"></ul>');
	list.append('<li><a href="" onclick="resetAppointmentWizard(); return false;">New Appointment</a></li>');
	list.append('<li><a href="#view-my-schedule">Upcoming Schedule</a></li>');
	list.append('<li><a href="#my-book-page">My Book</a></li>');
	container.append(list);
	$('#home').trigger( "create" );
});

$( document ).delegate("#view-my-schedule", "pagecreate", refreshMySchedule);
$( document ).delegate("#my-book-page", "pagecreate", refreshMyBook);
$( document ).delegate("#new-appointment", "pagecreate", refreshAppointmentWizard);

function resetAppointmentWizard() {
	$('#new-appointment .ui-content').data('appointment-process',{});
	$.mobile.changePage("#new-appointment");
	refreshAppointmentWizard();
}

function refreshAppointmentWizard() {
	var container = $('#new-appointment .ui-content');
	var process = container.data('appointment-process');
	if(process == undefined) { 
		process = {} 
	};
	
	container.empty();
	if(process['member'] == undefined){
		if(process['memberSource'] == undefined){

			var btn = $('<a href="#" data-role="button" data-theme="b">Select Member From Book</a>');
			btn.click(function(e){
				e.preventDefault();
				process['memberSource'] = 'book';
				refreshAppointmentWizard();
			});
			container.append(btn);

			btn = $('<a href="#" data-role="button">Find Member in MMS</a>');
			btn.click(function(e){
				e.preventDefault();
				process['memberSource'] = 'mms';
				refreshAppointmentWizard();
			});
			container.append(btn);
		}
		else {
			if(process.memberSource == 'mms') {

				container.append('<h3>Find Member</h3>');

				var fieldContainer = $('<div data-role="fieldcontain"></div>');
				container.append(fieldContainer);

				fieldContainer.append('<label for="name">Name</label>');
				fieldContainer.append('<input type="text" name="name" value="LeVin, E" placeholder="Last, First"></input>');

				var btn = $('<a data-role="button">Search</a>');
				btn.click(function(e){
					e.preventDefault();

					if(btn.hasClass('disabled')) {
						return;
					}

					btn.addClass('disabled').find('.ui-btn-text').text('... Searching ...');

					var name = container.find('input[name=name]').val();
					name = name.split(',');
					if(name.length != 2) {
						alert('Please specify the name as: LAST, FIRST');
						return;
					}

					container.find('ul.results').remove();

					searchMembers({
						data : {
							first_name : name[1],
							last_name : name[0]
						},
						success : function(data) {
							
							btn.removeClass('disabled').find('.ui-btn-text').text('Search');

							var list = $('<ul class="results" data-role="listview" data-inset="true"></ul>');
							for(var i = 0 ; i < data.member.length ; i++) {
								var member = data.member[i];
								member['name'] = BOSSAPI.utils.formatString('{first} {last}' , member.name);

								var item = $(clientListItemTemplate(member));
								item.data('client', member);
								list.append(item);
							}
							container.append(list);
							container.trigger('create');

							attachWizardClientLinks();
						}
					});
				});
				fieldContainer.append(btn);

				container.append('<div data-role="fieldcontain"><div class="results"></div></div>');
			}
			else {
				container.append('<h3>Select Member From Book</h3>');
				retrieveBook({
					success : function(data){
						createBook(container, data);
						attachWizardClientLinks();
					}
				});
			}
		}
	}
	else {
		if(process.member['membership_id'] == undefined) {
			BOSSAPI.auth.info({
				data : {
					member_id : process.member.member_id,
				},
				success : function(member) {
					process.member = member;
					refreshAppointmentWizard();
				},
				error : function() {
					alert('Failed to lookup member information.');
				}
			});	
		}
		else {
			//Now we have a fully loaded member.... Lets select the day

			// container.append(renderDateSelector('appointment-date','Date'));


			var baseDate = Date.today();

			container.append('<input type="text" name="date1" id="date1" class="mobiscroll" />');
			container.find('.mobiscroll').val(baseDate.toString('MM/dd/yyyy')).scroller();

			var timeSelector = $('<div data-role="fieldcontain"><fieldset data-role="controlgroup"></fieldset></div>');
			container.append(timeSelector);
			timeSelector = timeSelector.find('fieldset');

			// We need to get the availability for this particular employee and classes that they currently have scheduled.

			var range = [BOSSAPI.utils.getTimestampFromDateTime(new Date(2000,01,01,06,00,00,00)),
							BOSSAPI.utils.getTimestampFromDateTime(new Date(2000,01,01,20,00,00,00))];
			var duration = 30 * 60 * 1000;
			
			while(range[0] < range[1]) {
				var time = new Date(baseDate.getTime() + range[0]);

				var id = 'timeslot-' + time.getTime();

				var checkbox = $('<input type="checkbox"></input>');
				checkbox.attr('id', id).attr('name', id);

				if(time.getTime() >= 1326380400000 && time.getTime() <= 1326387600000) {
					checkbox.attr('disabled','disabled').data('theme','a');
				}

				timeSelector.append(checkbox);

				var label = $('<label></label>');
				label.attr('for', id).text(time.toString('h:mm tt'));
				timeSelector.append(label);
				
				// timeSelector.append(renderCheckbox('timeslot-' + range[0], ));

				// var slot = $('<li class="slot" data-timestamp="' + range[0] + '"></li>');
				// slot.append('<input type="checkbox"></input>');
				// slot.append('<span class="label">' + time.toString('h:mm tt') + '</span>');
				// timeSelector.append(slot);	
				range[0] = range[0] + duration;
			}
		}
	}

	container.data('appointment-process',process);
	container.trigger('create');
}

function attachWizardClientLinks() {
	$('#new-appointment .ui-content li.client a').click(function(){
		var client = $(this).parents('li.client').data('client');
		var container = $('#new-appointment .ui-content');

		var process = container.data('appointment-process');
		process.member = client;

		refreshAppointmentWizard();
	});
}

function refreshMySchedule() {
	var container = $('#view-my-schedule .ui-content');
	container.empty();
	container.text('Loading...');

	var params = {
		ssoid : BOSSAPI._ssoid,
		employee_number : employee().id,
		publish : 'true,false', //Both published and non-published schedules.
		includes : 'rosters'
	};

	BOSSAPI.scheduling.meetings.search(params, function(meetings){
		createMySchedulePage(meetings);
	});
}

function refreshMyBook() {
	retrieveBook({
		success : function(data){
			var container = $('#my-book-page .ui-content');
			createBook(container, data);

			$('#my-book-page li.client a').click(function(){
				showClient($(this).parents('li.client').data('client'));
			});
		}
	});
}

function createMySchedulePage(meetings) {
	var container = $('#view-my-schedule .ui-content');

	container.empty();
	container.append(mySchedulePageTemplate({}));

	var last_date = undefined;

	var list = container.find('ul');
	for(var i = 0 ; i < meetings.length ; i++) {
		var meeting = meetings[i];

		var meeting_date = BOSSAPI.utils.getDatestampFromDateTime(meeting.start_date);
		if(last_date != meeting_date) {
			list.append(listDividerItemTemplate({ text : meeting.start_date.toString('ddd, MMMM d, yyyy') }));
		}
		last_date = meeting_date;	

		var item = $(meetingListTemplate(meeting));
		item.find('a').click(function(e){
			e.preventDefault();
			var meeting = $(this).parents('li.meeting').data('meeting');
			createMeetingPage(meeting);
		});
		item.data('meeting', meeting);
		list.append(item);
	}
	container.trigger( "create" );
}

function createMeetingPage(meeting) {
	$.mobile.changePage("#meeting-details");

	$('#meeting-details .ui-header h1').text( meeting.description + ' at ' + formatMeetingTime(meeting) );

	var container = $('#meeting-details .ui-content');
	container.empty().append(meetingPageTemplate(meeting));

	var actions = container.find('.actions');

	if(meeting.status != 'cancelled') {
		actions.append('<a class="cancel" data-role="button">Cancel Appointment</a>');
		$(document).delegate('#meeting-details .actions a.cancel', 'click', function() {
		  $(this).simpledialog({
		    'mode' : 'bool',
		    'prompt' : 'Are you sure you wish to cancel?',
		    'useModal': true,
		    'buttons' : {
				'Yes': {
					click: function () {
						cancelMeeting($('#meeting-details').data('meeting'));
					}
				},
				'Cancel': {
					click: function () {},
					icon: "delete",
					theme: "c"
				}
		    }
		  })
		});
	}

	$('#meeting-details').data('meeting', meeting);
	container.trigger( "create" );
}

function cancelMeeting(meeting) {
	BOSSAPI.scheduling.meetings.cancel({
		data : { id : meeting.id },
		success : function() {
			window.history.back();
			refreshMySchedule();
		},
		error : function() {
			alert('This reservation cannot be cancelled.  Please see your Department Head if you need additional assistance.');
		}
	});
}

function createBook(container, clients) {
	container.empty();

	var list = $('<ul data-role="listview" data-filter="true" data-inset="true"></ul>');
	for(var i = 0 ; i < clients.length ; i++) {
		var listItem = $(clientListItemTemplate(clients[i].client));
		listItem.data('client', clients[i].client);
		list.append(listItem);
	}
	container.append(list);
	container.trigger('create');
}

function showClient(client) {
	$.mobile.changePage("#client-details");

	var container = $('#client-details');

	var contents = container.find('.ui-content');
	contents.empty().text('Loading...');

	BOSSAPI.auth.info({
		data : {
			member_id : client.member_id,
		},
		success : function(member) {
			container.find('h1').empty().text(BOSSAPI.utils.formatString('{last}, {first}', member.name));
			contents.empty().append(clientDetailTemplate(member));
			container.trigger('create');

			var params = {
				ssoid : BOSSAPI._ssoid,
				employee_number : employee().id,
				publish : 'true,false', //Both published and non-published schedules.
				member_id : client.member_id
			};

			container.find('div.rosters').empty().append('Loading...');
			BOSSAPI.scheduling.meetings.search(params, function(meetings){
				container.find('div.rosters').empty();
				for(var i = 0 ; i < meetings.length ; i++) {
					container.find('div.rosters').append(clientDetailHistoryItemTemplate(meetings[i]));
				}
				container.find('div.rosters').trigger('create');
			});
		},
		error : function() {
			alert('Failed to lookup member information.');
		}
	});	
}
</script>
</html>