<!DOCTYPE html> 
<html> 
	<head> 
		<title>Life Time Fitness Employee Access - Login</title> 
		<%= partial(:_head) %>
		<script type="text/javascript">
			$(function() {
	            $("#login").click(function() {

	            	var pin = $('#login_form input[name=pin]').val();
	            	if(pin == undefined || pin == '') {
	            		alert('Please enter a pin to login.');
	            	}
	            	else {
	            		$('.ui-content').empty().loading();

	            		BOSSAPI.auth.employee.login({
		            		data : { pin : pin },
		            		success : function(data) {
		            			window.location.href = "<%= to('/auth_callback') %>?ssoid=" + data.ssoid;
		            		},
		            		error : function(error) {
		            			alert(error.message);
		            			window.location.href = "<%= to('/login') %>";
		            		}
		            	});
	            	}
	            });
	        });
		</script>
	</head> 
<body> 

<div data-role="page">
	<div data-role="header">
		<h1>Employee Login</h1>
	</div>
	<div data-role="content">
		<form id="login_form">
			<div data-role="fieldcontain">
				<label for="pin">PIN</label>
				<input type="text" name="pin" id="pin" value="f536" />
			</div>
			<hr/>
			<input id="login" type="button" value="Login" />
		</form>	
	</div>
</div>

</body>
</html>