<!DOCTYPE html> 
<html> 
	<head> 
		<title>Member Detail</title> 
		<%= partial(:_head) %>
	</head> 
<body> 
	<div data-role="page">
		<div data-role="content" data-theme="a">
			<h3>Member Detail</h3>
			<img src="<%= to('/member/photo') %>"></img>
			<a href="#" data-role="button" data-rel="back" data-theme="a">OK</a>    
		</div>
	</div>
</body>
</html>